.ctas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 16px;
}

.ctaLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.ctaLink:hover {
  color: #ffde21;
}
