.ctas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.ctaLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-bottom: 2px solid #ffde21;
}

.ctaLink:hover {
  border-color: #000;
}
