.page {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 100%;
  padding: 80px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.ctas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 16px;
}

.ctaLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.ctaLink:hover {
  color: #ffde21;
}
