.dogWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.focus {
    font-weight: 600;
}

.card {
    text-align: start;
}

.card li {
    list-style: auto;
    margin-left: 16px;
}
