.resumeWrapper {
    border: 2px solid black;
    border-radius: 12px;
    padding: 12px;
}

.title {
    color: #3a3b3c;
    margin-bottom: 16px;
}

.card {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 12px;
    width: 240px;
}

.card.good {
    background-color: #3a3b3c;
}

.card.warn {
    background-color: #555555;
}

.cardsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
